* {
    box-sizing: border-box;
}

.filter {
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter button {
    background-color:  #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.filter button:hover {
    opacity: .9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4%;
}

.locations {
    border-right: 1px solid  #DDDDDD;
    
}

.amenities {
    margin-right: auto
}
section > .locations > h3,
section > .amenities > h3 {
    font-weight: 600;
    margin: 0;
    text-align: left;
}

section > .locations > h4,
section > .amenities > h4 {
    font-weight: 400;
    font-size: 14;
    margin: 0;
}

